/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600'); */

* {
    font-family: 'Source Sans Pro', Trebuchet, Verdana, Helvetica, Arial,
        sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #fff;
    overflow: hidden;
    font-size: 0;
}

a {
    text-decoration: none;
    transition: color 0.15s ease;
}

.flexcontainer {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.select-disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rotate {
    animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}
